/* ========== Base Styles ========== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  max-width: 100%;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

/* ========== App Container ========== */
#app {
  width: 75%;
  height: 600px;
  overflow: hidden;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#pixi-container {
  width: 100%;
}

/* ========== Typography ========== */
.title {
  margin: 20px 0;
  font-size: 2em;
}

/* ========== Promo Section ========== */
.promo-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.promo-card {
  background-color: #1e1e1e;
  color: white;
  width: 280px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.promo-card:hover {
  transform: scale(1.05);
}

.promo-card .label {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #fcdc58;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 0.9em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
}

.promo-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.promo-card .price {
  padding: 15px;
  font-size: 1.2em;
}
#video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 10%;
  box-sizing: border-box;
}

#video-section iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 8px;
}
/* ========== Content Section ========== */
.section {
  padding: 60px 40px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 40px;
}

.section h2 {
  font-size: 28px;
  border-bottom: 3px solid #c43;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #333;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.content-container img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 1;
  min-width: 250px;
  font-size: 1.1em;
  color: #555;
  line-height: 1.8;
  margin-top: 10px;
}

/* ========== Responsive Design ========== */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .text {
    font-size: 1em;
  }

  .hero-text {
    font-size: 2em;
  }

  #booking-section {
    padding: 20px;
  }

  .promo-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
